{% extends 'master/dashmaster.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="title">
        Bienvenue sur la page d'Administration d' AFRICAN FOOD
    </div>

    <div class="menuform">
        <div class="col-md-6">
            <h2>Editer le Menu</h2>
            <form action="" class="bg-light p-5 contact-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <div class="form-group">
                    <input type="submit" name="Submit Blog" class="btn btn-primary py-3 px-5">
                </div>
            </form>
        </div>

        <div class="col-md-12">
            <h2>Menu Data</h2>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Uid</th>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in mainmenu %}
                <tr>
                    <th scope="row">{{ menu.id }}</th>
                    <td>{{ menu.name }}</td>
                    <td>{{ menu.title }}</td>
                    <td>{{ menu.description }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'updatemenu' menu.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'deletemenu' menu.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
